.main {
  box-sizing: border-box;
}

.main__content {
  display: flex;
  padding: 80px 104px 80px 104px;
}

.main__avatar {
  background: url('../images/avatar.png');
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  flex-shrink: 0;
  margin: 0 56px 0 0;
}

.main__description {
  padding: 50px 0 0 0;
}

.main__text {
  line-height: 1.33;
  font-size: 18px;
}

.main__paragraph {
  margin: 0;
}
